{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gradient-to-b from-red-500 via-green-500 to-yellow-700 relative">
    <div class="absolute inset-0 bg-black opacity-50"></div> <!-- Background overlay -->
    <div class="bg-white bg-opacity-10 backdrop-blur-lg text-white p-10 rounded-xl shadow-2xl w-full max-w-md relative z-10">
        <div class="text-center mb-6">
            <h2 class="text-3xl font-extrabold tracking-wide">Login to Your Account</h2>
        </div>
        <form method="post" class="space-y-6">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="w-full bg-gradient-to-r from-blue-400 to-blue-600 hover:from-blue-600 hover:to-blue-800 text-white font-bold py-3 px-4 rounded-full transition duration-300 ease-in-out transform hover:scale-105" type="submit">
                Login
            </button>
        </form>
        <button class="w-full mt-4">
            <a class="bg-gradient-to-r from-green-400 to-green-600 py-3 px-4 rounded-full hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 text-white font-bold block text-center transition duration-300 ease-in-out transform hover:scale-105" href="{% url 'post' %}">
                Explore now!!
            </a>
        </button>
        <div class="text-center mt-6">
            <p class="text-sm">
                Thinking of creating a new account? 
                <a class="text-blue-400 hover:text-blue-500 font-semibold underline" href="{% url 'register' %}">
                    Register here!
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
